<div class="flex flex-col overflow-hidden rounded-lg shadow-lg">
  <div class="flex-shrink-0">
    <img class="object-cover w-full h-48" src="{{ post.thumb_img_path }}" alt="{{ post.title }}" />
  </div>
  <div class="flex flex-col justify-between flex-1 p-6 bg-white">
    <div class="flex-1">
      <a href="{{ post.url }}" class="block no-underline">
        <h3 class="mt-2 font-semibold">
          {{ post.title }}
        </h3>
        <p>
          {{ post.excerpt }}
        </p>
      </a>
    </div>
    <div class="flex items-center mt-6">
      <div class="flex text-sm leading-5 text-gray-500">
        <time datetime="{{ post.date | date: "%Y-%B-%D" }}">
          {{ post.date | date: "%B %-d, %Y" }}
        </time>
      </div>
    </div>
  </div>
</div>
