<div class="px-4 mb-8 lg:mb-4">
  <div class="h-full">
    <img class="mb-4" src="{{ post.header_img }}" alt="{{ post.title }}" />
    <small>{{ post.date }}</small>
    <h3 class="mt-2 mb-4 text-2xl font-heading">{{ post.title }}</h3>
    <a class="text-blue-700 hover:underline" href="{{ post.url }}">
      Read more
    </a>
  </div>
</div>
