---
name: Container
description: Different containers
variables:
  variation:
    - string
    - "[optional] What container variation to use. Valid options are content and wrapper."
  bg_color:
    - string
    - The background color class
  text_color:
    - string
    - The text color class
  content:
    - content
---

{% case variation %}
  {% when "content" %}
     {% assign class_names = "max-w-7xl mx-auto px-4 sm:px-6 lg:px-8" %}
  {% when "wrapper" %}
     {% assign class_names = "container mx-auto px-4 sm:px-6 lg:px-8" %}
  {% else %}
     {% assign class_names = "max-w-7xl mx-auto sm:px-6 lg:px-8" %}
{% endcase %}

<div class="{{ class_names }} {{ bg_color }} {{ text_color }}">
  {% if variation == "content" %}
    <div class="max-w-3xl mx-auto">
      {{ content }}
    </div>
  {% else %}
    {{ content }}
  {% endif %}
</div>
