---
name: Section
description: A section of content
variables:
  rounded:
    - string
    - The rounded class
  shadow:
    - string
    - The shadow class
  bg_color:
    - string
    - The background color class
  text_color:
    - string
    - The text color class
  content:
    - content
---

<div class="mx-auto max-w-7xl">
  <div class="px-4 sm:px-6 lg:px-8 py-8 prose {{ rounded }} {{ shadow }} {{ bg_color }} {{ text_color }}">
    {{ content }}
  </div>
</div>
